@charset "UTF-8";
/*css 初始化 */
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img {
    margin: 0;
    padding: 0;
}

fieldset, img, input, button {
    border: none;
    padding: 0;
    margin: 0;
    outline-style: none;
}

ul, ol {
    list-style: none;
}

input {
    padding-top: 0;
    padding-bottom: 0;
    font-family: "SimSun", "宋体";
}

select, input {
    vertical-align: middle;
}

select, input, textarea {
    font-size: 12px;
    margin: 0;
}

textarea {
    resize: none;
}

/*防止拖动*/
img {
    border: 0;
    vertical-align: middle;
}

/*  去掉图片低测默认的3像素空白缝隙*/
table {
    border-collapse: collapse;
}

body {
    font: 12px/150% Arial, Verdana, "\5b8b\4f53";
    color: #666;
    background: #fff
}

.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1; /*IE/7/6*/
}

a {
    color: #666;
    text-decoration: none;
}

a:hover {
    color: #C81623;
}

h1, h2, h3, h4, h5, h6 {
    text-decoration: none;
    font-weight: normal;
    font-size: 100%;
}

s, i, em {
    font-style: normal;
    text-decoration: none;
}

.col-red {
    color: #C81623 !important;
}

/*公共类*/
.w { /*版心 提取 */
    width: 1210px;
    margin: 0 auto;
}

.fl {
    float: left
}

.fr {
    float: right
}

.al {
    text-align: left
}

.ac {
    text-align: center
}

.ar {
    text-align: right
}

.hide {
    display: none
}

/*头部导航开始 */

.shortcut {

    height: 30px;
    line-height: 30px;
    background-color: #F1F1F1;

}

.shortcut s {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

.fl {
    position: relative;
    float: left;
}

.fl i {
    font: 400 15px/15px "宋体";
    position: absolute;
    right: 20px;
    top: 9px;
    height: 7px;
}

.fl s {
    position: absolute;
    left: 0;
    top: 0;
}

.dt,
.shortcut .fore {
    padding: 0 25px 0 10px;
    position: relative;
}

.dt i,
.fore i {
    font: 400 15px/15px "宋体";
    position: absolute;
    top: 13px;
    right: 3px;
    height: 7px;
    overflow: hidden;
    width: 15px;
}

.dt s,
.fore s {
    position: absolute;
    top: -8px;
    left: 0;
}

.fr li {
    float: left;
    padding: 0 10px;
}

.fr .line {
    width: 1px;
    height: 12px;
    background-color: #ddd;
    padding: 0;
    margin-top: 9px;
}

.shortcut .tel-jd {
    padding: 0 20px 0 25px;
    position: relative;
}

.tel {
    position: absolute;
    width: 15px;
    height: 20px;
    background: url("../images/sprite.png") no-repeat;
    left: 5px;
    top: 5px;
}

/*顶部结束*/
/*top Banner start*/
.topbanner {
    background-color: #8A25C6;
}

.close-banner {

    right: 0px;
    top: 5px;
    position: absolute;
    width: 19px;
    height: 19px;
    background: url("../images/close.png") no-repeat;
}

/*topBanner end*/
.tp {
    position: relative;
}

.close-banner:hover {
    background-position: bottom;
}

.logo {
    width: 360px;
    height: 75px;
    background: url("../images/logo.png") no-repeat 0 25px;
    float: left;
    padding-top: 25px;
    position: relative;
}

.search {
    width: 538px;
    height: 35px;
    float: left;
    margin-top: 25px;
    color: #666666;
    font: 14px/32px "microsoft yahei";

}

.search input {
    width: 450px;
    height: 32px;
    border: 2px solid #b61d1d;
    padding-left: 4px;
    float: left;
}

.jd-a {
    display: block;
    width: 270px;
    height: 60px;
    text-indent: -2000em;
}

.db11 {
    position: absolute;
    width: 180px;
    height: 20px;
    background-color: pink;
    top: 10px;
    left: 168px;

}

.search button {
    width: 80px;
    height: 36px;
    background-color: #b61d1d;
    float: left;
    font: 16px/32px "microsoft yahei";
    color: #fff;
    /*鼠标变成小手*/
    /*小白:default*/
    /*移动:move*/
    /*文本输入:text*/
    cursor: pointer;
}

.car {
    padding-left: 43px;
    width: 96px;
    height: 34px;
    float: right;
    border: 1px solid #dfdfdf;
    margin: 25px 65px 0 0;
    position: relative;
    line-height: 34px;
}

.icon1 {
    position: absolute;
    top: 10px;
    left: 20px;
    width: 16px;
    height: 13px;
    background: url("../images/sprite.png") no-repeat -1px -59px;

}

.icon2 {
    font-family: "microsoft yahei";
    position: absolute;
    font: 400 13px/13px simsun;
    top: 10px;
    right: 10px;
}

.icon3 {
    width: 16px;
    height: 14px;
    position: absolute;
    background-color: #c81623;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #fff;
    top: -4px;
    border-radius: 7px 7px 7px 0;
}

.hotword {
    width: 500px;
    padding: 7px 0;
    float: left;
}

.hotword a {
    margin-right: 6px;

}

/*nav部分*/

.jd-nav {
    width: 100%;
    height: 44px;
    border-bottom: 2px solid #b1191a;
}

/*头部结束*/
.slogen {
    height: 54px;
    padding: 20px 0;
    background-color: #f5f5f5;
    position: relative;
    margin-bottom: 15px;
}

/*底部 start*/

.item {
    width: 302px;
    top: 20px;
    left: 50%;
    position: absolute;
    margin-right: -304px;

}

.dropdown {
    width: 210px;
    height: 44px;
    float: left;
    position: relative;
    z-index: 10;
    overflow: visible;
}

.dropdown .dt {
    height: 44px;
    background-color: #c81623;
}

.dropdown .dt a {
    display: block;
    height: 44px;
    font: 400 15px/44px "microsoft yahei";
    color: #fff;
}

.dropdown .dd {
    height: 465px;
    background-color: #c81623;
    margin-top: 2px;
}

.dropdown .items h3 {
    float: left;

}

.dropdown .items span {
    float: right;
    margin-right: 15px;
    font-family: "microsoft yahei";
    font-weight: 600;
}

.navitems {
    width: 680px;
    height: 44px;
    float: left;
}

.navitems li {
    float: left;

}

.dropdown .items {
    height: 31px;
    line-height: 31px;
    border-left: 1px solid #b61d1d;
    padding-left: 10px;
    color: #fff;
    font-size: 15px;
    font-family: "microsoft yahei";
}

.navitems li .news {
    background: url("../images/new.jpg") no-repeat right top;
}

.navitems li a {
    display: block;
    color: #333;
    font: 400 15px/44px "microsoft yahei";
    padding: 0 20px;
}

.navitems li a:hover {
    color: #b1191a;
}

.bike {
    width: 140px;
    height: 44px;
    float: right;
    background: url("../images/bike.jpg") no-repeat;
}

.bike a {
    display: block;
    height: 44px;
}

.slogen1 {
    margin-left: -608px;
}

.slogen2 {
    margin-left: -302px;

}

.slogen3 {
    margin-left: 2px;
}

.slogen4 {
    margin-left: 304px;
}

.service dl {
    width: 198px;
    float: left;
}

.shopping dt,
.coverage .dt {
    font-size: 16px;
    height: 28px;
    font-family: "microsoft yahei";
    padding-top: 10px;
}

.service dd {
    height: 20px;
}

.coverage {
    float: right;
    width: 210px;
    height: 165px;
    background: url("../images/china.png") no-repeat left bottom;
}

.coverage p {
    line-height: 18px;
    margin-top: 5px;
}

.looklook {
    text-align: right;

}

.coverage .dd {
    margin-top: 10px;
}

.againw {
    border-top: 1px solid #E5E5E5;
    padding: 23px 0 30px 0;
    margin-top: 30px;
    text-align: center;
}

.links a {
    padding: 0 7px;

}

.links {
    height: 25px;
}

.copyright {
    line-height: 18px;
    margin-bottom: 10px;
}

