@charset "UTF-8";
.banner604 {
    position: relative;
}

.banner604 a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 604px;
    background: url(../images/banner.jpg) no-repeat top center;
}

/*添加版心*/
.main {
    height: 800px;
    position: relative;

}

.slide {
    width: 730px;
    height: 453px;
    background-color: pink;
    margin: 12px 0 0 220px;
    float: left;
    position: relative;
}

.circle {
    position: absolute;
    bottom: 8px;
    left: 50%;
    margin-left: -66px;
}

.circle li.current {
    background-color: #b61b1f;
}

.circle li {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #3e3e3e;
    float: left;
    text-align: center;
    line-height: 18px;
    color: #fff;
    cursor: pointer;
    margin: 0 2px;
}

.newpager {
    width: 248px;
    height: 451px;
    border: 1px solid #E4E4E4;
    margin-top: 12px;
    float: right;
}

.jd-news {
    height: 200px;
    border-bottom: 1px dashed #E4E4E4;
}

.jd-news .dt,
.life-servi .dt {
    height: 43px;
    border-bottom: 1px dotted #E8E8E7;
    line-height: 43px;
}

.jd-news .dt h3,
.life-servi .dt h3 {
    float: left;
    font: 14px/43px "microsoft yahei";
    color: #666;
    padding-left: 15px;
}

.life-servi .song {
    background: url("../images/song.png") no-repeat right top;
}

/*十一活动*/

.todays {
    position: relative;
}

.night {

    margin: 10px 0 28px 0;
    position: relative;
}

.night_left {
    margin-top: 10px;
    margin-bottom: 28px;
}

.night_right {
    width: 1000px;
    height: 160px;
    margin-top: 10px;
    margin-bottom: 28px;
    float: right;
}

.night_right li {
    float: left;
    margin-left: 1px;
}

.night_right ul {
    width: 500%;
}

.jd-news .dt a {
    float: right;
    font: 13px/43px "宋体";
}

.jd-news .dd ul {
    padding: 8px 0 0 15px;

}

.jd-news .dd li {
    line-height: 28px;
}

.jd-news .dd li span {
    font-weight: 700;
    margin-right: 5px;
}

.life-servi {
    height: 251px;
    overflow: hidden;
    width: 248px;
}

.life-servi ul {
    width: 252px;
}

.life-servi li a {

    display: block;
    height: 70px;
    text-align: center;
    padding-top: 44px;
    position: relative;

}

.life-servi li i {
    position: absolute;
    top: 12px;
    left: 18px;
    width: 25px;
    height: 25px;
    background: url("../images/icon_lifeserv.png") no-repeat right top;
}

.life-servi .dd {
    border-top: 1px dotted #E8E8E7;
    overflow: hidden;
    height: 251px;
}

.life-servi .dd li {
    width: 62px;
    height: 70px;
    border: 1px solid #E4E4E4;
    float: left;
    margin: -1px 0 0 -1px;
}

.lifeservi-icon2 a i {
    background-position: right -25px;
}

.arrow-left, .arrow-right {
    position: absolute;
    width: 28px;
    height: 62px;
    top: 50%;
    margin-top: -31px;
    color: #fff;
    background: rgba(0, 0, 0, .3);
    font: 500 18px/62px "宋体";
    text-align: center;
}

.arrow-left {
    left: 0;
}

.arrow-right {
    right: 0;
}

#mask {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0, 0, 0, .5);
    top: 0;
    left: 0;
    z-index: 999;
}

#box {
    display: none;
    width: 400px;
    height: 250px;
    position: fixed;
    background-color: #fff;
    top: 50%;
    left: 50%;
    margin: -125px 0 0 -200px;
    z-index: 1000;
}

#box span {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 10px;
    height: 15px;
    font-size: 15px;
    cursor: pointer;
}

.arrow-left:hover, .arrow-right:hover {
    background: rgba(0, 0, 0, .4);
    color: #fff;
}
